doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='shortcut icon', href='/img/icon.png')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    title HNsim - Find similar articles on HN

  body
    block content
